.card{
display: flex;
margin: 10px 0 0 430px;
    width: 18rem;
    background-color: #212529;
    -webkit-box-shadow: 8px 12px 0px 9px rgba(0,0,0,0.29);
    -moz-box-shadow: 8px 12px 0px 9px rgba(0,0,0,0.29);
    box-shadow: 8px 12px 0px 9px rgba(0,0,0,0.29);
    animation: movimiento 2.5s linear infinite;
}
@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(0);
    }
}

.fontCard{
color: white;
}