.cardU{
 display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}

.card{
    margin: 30px 0 30px 30px;
    width: 18rem;
    background-color: #212529;
    -webkit-box-shadow: 8px 12px 0px 9px rgba(0,0,0,0.29);
    -moz-box-shadow: 8px 12px 0px 9px rgba(0,0,0,0.29);
    box-shadow: 8px 12px 0px 9px rgba(0,0,0,0.29);
    animation: movimiento 2.5s linear infinite;
}
@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(0);
    }
}

.card img{
    width: 18rem;
    height: 18rem;
}

.fontCard{
color: white;

}